APP_PORT=8081
GRPC_PORT=9002
METRICS_PORT=9201

DB_HOST=postgres
DB_PORT=5432
DB_USER=dms
DB_PASSWORD=dms
DB_NAME=user_db
DB_SSLMODE=disable

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1
REDIS_PASSWORD=dms_redis
