APP_PORT=8087
GRPC_PORT=9007
METRICS_PORT=9207

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=5
REDIS_PASSWORD=

JWT_SECRET=your-jwt-secret-here
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h
VERIFICATION_TOKEN_TTL=24h
PASSWORD_RESET_TTL=1h

NOTIFICATION_SERVICE_ADDR=notification-service:9006
USER_SERVICE_ADDR=user-service:9002

NATS_URL=nats://nats:4222
LOG_SUBJECT=queue.logs
MAIL_JOB_SUBJECT=queue.mail.jobs
NOTIFICATION_SUBJECT=queue.notification.events
