APP_PORT=8082
GRPC_PORT=9001
METRICS_PORT=9202

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

JWT_SECRET=your-jwt-secret-here
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h
VERIFICATION_TOKEN_TTL=24h
PASSWORD_RESET_TTL=1h

NOTIFICATION_SERVICE_ADDR=notification-service:9006
USER_SERVICE_ADDR=user-service:9002
