APP_PORT=8083
GRPC_PORT=9003
METRICS_PORT=9203

DB_HOST=postgres
DB_PORT=5432
DB_USER=dms
DB_PASSWORD=dms
DB_NAME=doc_db
DB_SSLMODE=disable

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=2
REDIS_PASSWORD=
